
# Temporary files
.*.sw[a-z]
*.orig
*.crcdownload
*~
nohup.out
tmp

# Compiled stuff
*.exe
*.dll
*.so
*.pyc
*.mo
# *.min.css
# *.min.js
__pycache__
.sass-cache

# Junk
.DS_Store
Thumbs.db

# Other versioning systems
.hg
.hgignore
.svn

# Dependencies
bower_components
node_modules
