body {
  padding:10px;
}
.inspired {
  position:fixed;
  bottom:0;
  right:0;
  left:0;
  text-align:center;
}

/* SplashScreen */
.splashscreen {
  padding:5rem;
  font-size:12rem;
  text-align:center;
}


.question {
}
.question-name, .answer-name {
  font-size:5rem;
  text-align:center;
  margin:0;
}
.question-buttons {
  list-style:none;
  margin:0;
  padding:0;
  overflow:hidden;
}
.question-buttons li {
  padding-top:5rem;
  float:left;
  text-align:center;
  width:50%;
}

/* Answer */
.answer {
  text-align:center;
  padding:1rem;
}
.answer-text {
  font-size:1.5rem;
  padding:1rem;
}
.answer-next {
  text-align:center;
}
