body {
  padding: 10px 10px 50px 10px;
}
.inspired {
  position:fixed;
  bottom:0;
  right:0;
  left:0;
  margin: 0;
  padding: 1rem;
  text-align:center;
  background: white;
}

/* SplashScreen */
.splashscreen {
  padding:5rem;
  font-size:12rem;
  text-align:center;
}

/* Website Takeover */
.fromTwitter {
  padding:1rem;
}
.fromTwitter h1 {
  text-align:center;
}
.fromTwitter .fromTwitter-image {
  text-align:center;
}
.fromTwitter .fromTwitter-text {
  padding-top: 4rem;
  font-size:2rem;
  text-align: left;
  max-width: 980px;
  margin: 0 auto;
}
.fromTwitter .fromTwitter-text bold {
  font-weight: bold;
}
.fromTwitter .fromTwitter-thankyou  {
  font-style: italic;
}
.fromTwitter .fromTwitter-choices {
  list-style:none;
  margin:0;
  padding:0;
  overflow:hidden;
}
.fromTwitter .fromTwitter-choices li {
  float:left;
  text-align:center;
  width:33%;
  margin-left:15%;
}
.fromTwitter .fromTwitter-choices div {
  padding-bottom: 1rem;
}

.question {
}
.question-name, .answer-name {
  font-size:5rem;
  text-align:center;
  margin:0;
}
.question-buttons {
  list-style:none;
  margin:0;
  padding:0;
  overflow:hidden;
}
.question-buttons li {
  padding-top:5rem;
  float:left;
  text-align:center;
  width:50%;
}

/* Answer */
.answer {
  text-align:center;
  padding:1rem;
}
.answer-text {
  font-size:1.5rem;
  padding:1rem;
}
.answer-next {
  text-align:center;
}
